# Data Science Tools and Ecosystem

# Introduction: In this notebook, Data Science Tools and Ecosystem are summarized.

## Data Science Languages
- Python
- R
- SQL
- Julia

## Data Science Libraries
- Pandas
- NumPy
- Scikit-learn
- TensorFlow
- Matplotlib


## Data Science Tools
| Tool | Use |
| ---- | --- |
| Jupyter Notebook | Interactive computing and data visualization. |
| RStudio | Environment for statistical analysis and visualization. |
| Apache Spark | Large-scale data processing. |
| Tableau | Business intelligence and analytics. |

In [10]:
# Arithmetic Expression Examples
a = 10 ; 
b = 20;
print(a+b,a-b, a*b,a/b)

30 -10 200 0.5

In [8]:
# Multiply and Add Numbers
result = (5 * 3) + (2 + 4)
print("The result is:", result)

The result is: 21

In [9]:
# Convert Minutes to Hours
minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

120 minutes is equal to 2.0 hours.

## Objectives
- To understand the use of various data science languages and libraries.
- To perform basic arithmetic operations within a Jupyter Notebook.
- To familiarize oneself with the data science toolkit.

## Author
- Mridupawan Bordoloi